body{
  background-color:whitesmoke;
}
h1{
  font-family: 'Alfa Slab One', cursive;  
}
.nav2{
 color: black;
}
a{
  color: black;
}
#img{
  border-radius: 80%;
}
#img1{
  float: left;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}

#contact {
  background-image: url(../Images/contactbg.jpg);
}
#headingContact {
  text-align: center;
  color: whitesmoke;
  padding: 5%;
}
#form {
  color: whitesmoke;
  padding-left: 10%;
  padding-right: 10%;
}
#btnSubmit {
  align-self: center;
} 
